<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>GenerateReport.job</string>
        <key>ProgramArguments</key>
	<array>
            <string>/usr/bin/php</string>
            <string>/path_to_Pha_WR_SRE/phawrsre.php</string>
	</array>
        <key>StartCalendarInterval</key>
        <dict>
            <key>Weekday</key>
            <integer>1</integer>
            <key>Hour</key>
            <integer>0</integer>
            <key>Minute</key>
            <integer>5</integer>
        </dict>
        <key>WorkingDirectory</key>
        <string>/path_to_Pha_WR_SRE/</string>
    </dict>
</plist>
